.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/LICENSE
node_modules/**/package-lock.json
node_modules/**/yarn.lock
**/.nyc_output/**
**/coverage/**
**/.DS_Store
**/Thumbs.db
**/*.log